body{
    font-size:30px;
    margin:auto;
    text-align:center;
}
h1{
    margin-top:100px;
    margin-bottom:100px;
}
p{
    margin-top:50px;
    margin-bottom:50px;
}
ul{
    margin-top:50px;
    margin-bottom:50px;
}
li{
    margin-top:10px;
    margin-bottom:10px;
}
div.link_container1{
    width:40%;
    display:inline-block;
    margin-top:50px;
}
div.link_container2{
    width:30%;
    display:inline-block;
    margin-top:50px;
    margin-bottom:50px;
}