html body{
    background-image: url(images/blue_gradient1.jpg);
    background: cover;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 0;
    text-align: center;
}
div.main_wrapper{
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
}
@media screen and (max-width: 800px){
    .main_wrapper, .image_wrapper, img, nav{
        width: 100vw;
    }
}
div.image_wrapper{
    height: 50vh;
    width: 100vw;
    margin: 0 0;
    background-image: url(images/codepic1.jpg);
    background-size: 100%;
}
h1{
    font-size: 50px;
    letter-spacing: 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
}
h1.overlay{
    color: white;
    padding-top: 125px;
    font-family: 'Merienda', cursive;
}
p{
    margin-top: 100px;
    margin-bottom: 50px;
}

img.thumbnail {
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
nav{
    margin-top: 50px;
    font-size: 22px;
    width: 100%;
    height: 50px;
}
nav ul{
    float: left;
    border-bottom-style: solid;
}
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    width: 250px;
}
nav ul li a{
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color:black;
}
nav ul li a:hover{
    background-color:rgba(204, 212, 210,0.5);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
nav ul li ul{
    display: none;
    position: absolute;
    padding-left: 0px;
    padding-top: 10px;
    border-radius: 0px 0px 4px 4px;
    border-bottom-style: none;
}
nav ul li:hover ul{
    display:block;
}
nav ul li ul li{
    padding-left: 0px;
    width: 250px;
    height: 30px;
    border-radius: 4px;
}
nav ul li ul li a{
    text-decoration: none;
    color:black;
}
nav ul li ul li a:hover{
    background-color:rgba(204, 212, 210,0.5);
    border-radius: 10px;
}
a{
    color:black;
}
a:visited{
    color:black;
}
p.footer{
    text-align: right;
    margin-top: 100px;
    font-size: 14px;
    letter-spacing: 1px;
}