body {
  background: linear-gradient(180deg, #16a45a, #0f39b6);
  height: 100%;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-origin: content-box;
}
.main {
    position: relative;
    top: 10%;
    margin-top: 10%;
}
p, h1,
li,
a,
a:visited {
  color: rgba(255, 255, 255, 0.9);
}
p {
    line-height: 80px;
    font-size: 36px;
    overflow-wrap: normal;
}
h1, h2, li {
    line-height: 80px;
    font-size: 48px;
}
.label {
    font-size: 36px;
}
a:hover {
  color: rgba(14, 1, 1, 0.5);
}
.banner-text {
  letter-spacing: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-bottom: 100px;
  font-family: "Merienda", cursive;
  height: 10vh;
  z-index: 1;
  color: white;
  font-size: 8vw;
  width: 100%;
  margin: auto;
}
.banner {
  margin-top: calc(100px - 3vw);
  position: relative;
  width: 100%;
  height: 25vw;
  min-height: 400px;
  background-image: url("./images/codepic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
    padding: 0;
}
ul li {
  list-style-type: none;
  overflow-wrap: break-word;
}
.contact {
    margin-left: 20px;
    margin-right: 20px;
}
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0;
}
.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
nav ul li a {
  text-decoration: none;
  border-radius: 10px;
}
nav ul li a:hover {
  background-color: rgba(213, 226, 223, 0.1);
}
